<launch>

  <!-- <include file="$(find lq_yg_map_server)/launch/test_map_fusion_server.launch">
  </include> -->

  <node pkg="car_odom" name="car_odom_node" type="car_odom_node" output="screen" />

  <node pkg="path_search" name="bspline_local_planner_node" type="bspline_local_planner_node" output="screen" />


</launch>
